body {
    background-image: url("img/semnome.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}
#inicio{
    color: #ffffff;
    font-family: poppins, sans-serif;
    font-size: 45px;
}
.play{
    margin-left: 220px;
    margin-top: 150px;
    display: flex;
}
#play{
    width: 100px;
}
#aperte{
    color: #ffffff;
    font-family: poppins, sans-serif;
}
.tudo{
    margin-top: 420px;

}