*{
    background-color: rgb(77, 145, 255);
}
#inicio{
    color: #ffffff;
    font-family: poppins, sans-serif;
    font-size: 45px;
}
.play{
    margin-left: 220px;
    margin-top: 15px;
    display: flex;
}
#play{
    width: 100px;
}
#aperte{
    color: #ffffff;
    font-family: poppins, sans-serif;
}
.tudo{
    margin-top: 10px;

}
.c1{
    background-color: blue;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
}

.c2{
    background-color: #283146;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c3{
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c4{
    background-color:rgb(77, 145, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
        display: flex;
    justify-content: center;
    align-items: center;
}